
$sans-serif: Verdana, sans-serif;

html, body {
  margin: 0; padding: 0;
}

body {
  background: #090807;
  color: #e9e8e7;
  font: 18px $sans-serif;
}

a {
  color: #fba;
}
.header {
  padding: 15px;
  background: linear-gradient(to bottom, #B88302, #92693D);
  text-align: center;
  box-shadow: 0 0px 16px black;
  position: relative;
  z-index: 1000;
  &--title {
    margin: 0;
    font: 80px Cursive;
    color: #FFE66F;
    text-shadow: 3px 3px 4px rgba(#634B1C, 0.5);
    @media (max-width: 800px) {
      font-size: 10vw;
    }
  }
  &--presents {
    color: #FFE66F;
    margin: 0;
    font: 16px $sans-serif;
  }
}

.the-dot {
  position: relative;
  top: -1.15ex;
}

.notes-display {
  position: relative;
  height: 360px;
  background: #353433;
  border-bottom: 1px solid #454443;
  &--scroll {
    position: absolute;
    overflow-y: hidden;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    top: 0; right: 0; bottom: 0; left: 0;
  }
  &--current-time {
    position: absolute;
    top: 0; bottom: 0; width: 1px;
    background: #8b8685;
  }
  &--loading {
    position: absolute;
    color: #8b8685;
    top: 10px;
    left: 10px;
  }
  .options {
    position: absolute;
    top: 10px;
    left: 10px;
  }
  .task-list {
    position: absolute;
    top: 10px;
    right: 10px;
  }
}


.notes {
  transform: translateZ(0);
}

.note {
  $light: rgba(white, 0.3);
  $dark: rgba(black, 0.3);
  box-sizing: border-box;
  border: 1px solid;
  border-color: $light $dark $dark $light;
  border-radius: 3px;
  position: absolute;
  height: 12px;
  background: #8b8685;
  transform: translateY(-50%) translateZ(0);
  &:not(.is-focus) {
    opacity: 0.25;
    &.is-active {
      opacity: 0.5;
    }
  }
  &.is-focus {
    z-index: 2000;
  }
}

.sing {
  position: absolute;
  top: 0; right: 0; left: 0; height: 1px;
  background: #ccc;
  &--text {
    position: absolute;
    bottom: 4px;
    left: 4px;
    font: 10px $sans-serif;
    color: #ccc;
  }
}

.frequency-analysis {
  background: #353433;
  position: absolute;
  bottom: 0; width: 1px;
}

.task {
  float: right;
  clear: right;
  margin-bottom: 5px;
  position: relative;
  width: 180px;
  background: #090807;
  border: 1px solid #8b8685;
  &--text {
    font: 10px $sans-serif;
    line-height: 16px;
    padding-left: 4px;
    color: rgba(white, 0.75);
    position: relative;
    height: 16px;
    overflow: hidden;
    white-space: nowrap;
  }
  &--progress-container {
    position: absolute;
    top: 1px; right: 1px; bottom: 1px; left: 1px;
  }
  &--progress {
    position: absolute;
    top: 0; bottom: 0; left: 0; width: 0;
    background: #656463;
  }
}


.welcome {
  position: absolute;
  top: 24px; right: 24px; bottom: 24px; left: 24px;
  display: none;
  h2 {
    font-size: 25px;
    margin: 0 0 16px;
  }
  &--songs {
    position: absolute;
    top: 84px; right: 0; bottom: 0; left: 0;
    background: #090807;
    border: 1px solid #656463;
    max-width: 360px;
    padding: 8px 12px;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
  }
  &--song-loading {
    color: #8b8685;
  }
}

.song-list {
  margin: 0;
  padding: 0;
  list-style: none;
  a {
    display: block;
    padding: 8px 12px;
    text-decoration: none;
  }
}

.lyrics-display {
  display: flex;
  &--column {
    &.is-main {
      flex: 1;
    }
  }
  &--column:not(:first-child) {
    border-left: 1px solid #454443;
  }
  .tabs {
    position: relative;
    z-index: 2;
  }
  &--content {
    padding: 12px 16px;
    border-top: 1px solid #454443;
    border-bottom: 1px solid #454443;
    margin-top: -1px;
    position: relative;
    z-index: 1;
    background: #252423;
  }
}

.lyrics-data {
  font: 1em $sans-serif;
  white-space: pre-wrap;
  margin: 0;
}

.tabs {
  display: flex;
  list-style: none;
  margin: 0; padding: 0;
  padding-right: 20px;
  li {
    padding: 12px 16px;
    border-right: 1px solid #454443;
    &.is-active {
      background: #252423;
      cursor: default;
    }
    &:not(.is-active) {
      cursor: pointer;
    }
  }
}

footer {
  margin: 80px 0 20px;
  font: 14px $sans-serif;
  text-align: center;
  color: #7b7675;
  a {
    color: #8b8685;
    text-decoration: none;
  }
}

.options {
  overflow: hidden;
  display: none;
  &--hint {
    clear: left;
    padding-top: 8px;
  }
  &--group {
    overflow: hidden;
    float: left;
    margin-right: 8px;
    padding: 0 0 3px;
    button {
      float: left;
      appearance: none;
      background: linear-gradient(to bottom, #454443, #252423);
      border: 1px solid #555453;
      color: #8b8685;
      font: 12px $sans-serif;
      box-shadow: 0 1px 0 rgba(black, 0.4);
    }
    button.is-active {
      background: linear-gradient(to bottom, #090807, #252423);
      color: #e9e8e7;
    }
    button:focus {
      outline: none;
      color: #ffa;
    }
    button:not(.is-active) {
      cursor: pointer;
      &:active {
        background: linear-gradient(to bottom, #090807, #454443);
      }
    }
    button:first-child {
      border-radius: 3px 0 0 3px;
    }
    button:not(:first-child) {
      border-left-width: 0;
    }
    button:last-child {
      border-radius: 0 3px 3px 0;
    }
  }
}
